
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}
